.idea/
build*/
cmake-build-*
cmake-build-*/

.idea
build/
build-cpp26/
build-mt98/
cmake-build-debug
cmake-build-debug-visual-studio
cmake-build-debug-wsl
cmake-build-debug-wsl24
cmake-build-debug_vs26
cmake-build-default-mingw
